<!doctype html>

<html>

<head>

<meta charset="utf-8">

<meta name="description" content="">

<meta name="author" Content="">

<meta name="renderer" content="webkit">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>首页</title>

<link rel="stylesheet" type="text/css" href="__ASSETS__/schfb/css/bootstrap.css">

<link rel="stylesheet" type="text/css" href="__ASSETS__/schfb/css/fenbmecss.css">



<script src="__ASSETS__/schfb/js/jquery.min.js"></script>

<script type="text/javascript" src="__ASSETS__/schfb/js/bootstrap.js"></script>

<!-- 自动时间 -->

<script src="__ASSETS__/schfb/js/jquery.leoweather.min.js"></script>

<style type="text/css">

	

</style>

</head>

<body>

<!-- 头部开始 -->

<header class="head">

        <div class="col-md-12">

        <!-- logo开始 -->

            <div class="col-md-6 ">

		        <div class="logo_text">大庆实验中学阳光分班现场</div>

            </div>

        <!-- logo结束 -->

        <!-- 时间开始 -->

             <div class="col-md-6">

	             <div class=" times">

					<span id="weather"><span id="colock"><strong><span id="weather_YY">2018</span>年<span id="weather_MM">04</span>月<span id="weather_DD">13</span>日 <b class="week">星期<span id="weather_ww">五</span></b></strong></span></span>

				    <script type="text/javascript">

				    $('#weather').leoweather({format:'<span id="colock"><strong>{年}年{月}月{日}日 <b class="week">星期{周}</b></strong></span>'});

					</script>

				</div>

            </div>

        <!-- 时间结束 -->

        </div>



</header>

<!-- 头部结束 -->

<div class="container-fluid">

<!-- 内容开始 -->

<section class="row" style="margin-top: 30px;margin-bottom: 30px;">

		<div id="dragslot" >



		<!-- 学生分组开始 -->

		<div  class="col-md-4" style="padding: 0;">

			<div class="slot">

				<ul class="slot-list">

					<li class="slot-item" id="x1">





						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组01组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x2">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png" class="huanse"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组02组</div>

								</div>

							</div>

						

					</li>

					<li class="slot-item" id="x3">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png" class="lans"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组03组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x4">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组04组</div>

								</div>

							</div>

						

					</li>

					<li class="slot-item" id="x5">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组05组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x6">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组06组</div>

								</div>

							</div>

						

					</li>

					<li class="slot-item" id="x7">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组07组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x8">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组08组</div>

								</div>

							</div>

				

					</li>

					<li class="slot-item" id="x9">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组09组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x10">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组10组</div>

								</div>

							</div>

					

					</li>

					<li class="slot-item" id="x11">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组11组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x12">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组12组</div>

								</div>

							</div>

						

					</li>

					<li class="slot-item" id="x13">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组13组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x14">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组14组</div>

								</div>

							</div>

						

					</li>

					<li class="slot-item" id="x15">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组15组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x16">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组16组</div>

								</div>

							</div>

						

					</li>

					<li class="slot-item" id="x17">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组17组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x18">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组18组</div>

								</div>

							</div>

						

					</li>

					<li class="slot-item" id="x19">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组19组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x20">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组20组</div>

								</div>

							</div>

						

					</li><li class="slot-item" id="x21">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组21组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x22">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组22组</div>

								</div>

							</div>

					

					</li>

					<li class="slot-item" id="x23">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组23组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x24">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组24组</div>

								</div>

							</div>

						

					</li>

					<li class="slot-item" id="x25">

						<div class="slot-handler clearfix">

							<div class="avator ">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组25组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x26">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组26组</div>

								</div>

							</div>

					

					</li>



					<li class="slot-item" id="x27">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组27组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x28">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组28组</div>

								</div>

							</div>

						

					</li>

					<li class="slot-item" id="x29">

						<div class="slot-handler clearfix">

							<div class="avator">

								<img src="__ASSETS__/schfb/images/icon_03.png"/>

							</div>

							<div class="content">

								<div class="item-title">学生分组29组</div>

							</div>

						</div>

					</li>

					<li class="slot-item" id="x30">

						

							<div class="slot-handler clearfix">

								<div class="avator">

									<img src="__ASSETS__/schfb/images/icon_03.png"/>

								</div>

								<div class="content">

									<div class="item-title">学生分组30组</div>

								</div>

							</div>

						

					</li>

					</ul>

				</div>

				</div>

<!-- 学生分组结束 -->



<!-- 教师分组开始 -->

			<div  class="col-md-8" style="padding: 0;">

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">

							<!-- <div class="slot-handler">

								<div class="slot-handler clearfix">

									<div class="avator">

										<img src="__ASSETS__/schfb/images/avatar5.jpg"/>

									</div>

									<div class="content">

										<div class="item-title">UI design</div>





									</div>



								</div>

							</div> -->

						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img "><img src="__ASSETS__/schfb/images/icon_06.png" class="huanse"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png" class="lans"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

					<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

					<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

					<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

					<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

					<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item ">



						</li>

					</ul>

				</div>

					<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>

				<div class="slot65">

					<div class="jiaoshi-img"><img src="__ASSETS__/schfb/images/icon_06.png"><span>李立峰</span>教师组</div>

					<ul class="slot-list laos">

						<li class="slot-item">



						</li>

					</ul>

				</div>





<!-- 底部开始 -->



<footer>

<div class="fenpeijieg-ann nn" style="left: 65px"><a href="javascript:" onclick="xuanzhong()" >学生分组抽选</a></div>

<div class="fenpeijieg-ann"><a href="{:url('schfb/reviewf')}" >结果查看</a></div>

</footer>

<!-- 底部结束 -->



			</div>

<!-- 教师分组结束 -->

		</div>





</section>

<!-- 内容结束 -->



</div>



<script type="text/javascript" src="__ASSETS__/schfb/js/layer/2.4/layer.js"></script>

<script type="text/javascript">

var intval_btn = null;

var arr = new Array();

function randomFrom(lowerValue,upperValue)

{

    return Math.floor(Math.random() * (upperValue - lowerValue + 1) + lowerValue);

}

function xuanzhong() {

    if (!intval_btn) {

        var len = $(".slot-list:eq(0) li").length;

        $(".fpclass nn").html("点击停止")

        intval_btn = setInterval(function () {

            var random = randomFrom(1, len);

            $(".selectHov").removeClass('selectHov');

            $(".slot-list li:eq(" + random + ")").addClass('selectHov');

        }, 100)



    } else {

        clearInterval(intval_btn);

        intval_btn = null;

        var xid = $(".selectHov").attr('id');

        console.log(xid);

        $(".fenpeijieg-ann nn").html("学生分组抽选");

        layer.open({

            type: 2,

            btn: ['关闭'],

            area: ['80%', '80%'],

            title: "学生列表展示",

            maxmin: true,

            content: "{:url('schfb/fenp')}"

        });



    }

}





</script>

	<script type="text/javascript" src="__ASSETS__/schfb/js/dragslot.js"></script>

	<script>



		jQuery(function($){

			$('#dragslot').dragslot({

				dropCallback: function(obj){

					// obj.dragItem.siblings('.slot-item').remove();

					// obj.dragItem.removeClass("slot-item").addClass("slot-itemn")

				}

			});

		});



	</script>



</body>

</html>



