<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>阳光分班校验系统</title>
		<meta name="description" content="description">
		<meta name="author" content="阳关分班校验系统">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="__PUBLIC__static/check/plugins/bootstrap/bootstrap.css" rel="stylesheet">
		<link href="__PUBLIC__static/check/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<link href="__PUBLIC__static/check/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
		<link href="__PUBLIC__static/check/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
		<link href="__PUBLIC__static/check/plugins/xcharts/xcharts.min.css" rel="stylesheet">
		<link href="__PUBLIC__static/check/plugins/select2/select2.css" rel="stylesheet">
		<link href="__PUBLIC__static/check/css/style.css" rel="stylesheet">

		<!--End Container-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!--<script src="http://code.jquery.com/jquery.js"></script>-->
		<script src="__PUBLIC__static/check/plugins/jquery/jquery-2.1.0.min.js"></script>
		<script src="__PUBLIC__static/check/plugins/jquery-ui/jquery-ui.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="__PUBLIC__static/check/plugins/bootstrap/bootstrap.min.js"></script>
		<script src="__PUBLIC__static/check/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
		<script src="__PUBLIC__static/check/plugins/tinymce/tinymce.min.js"></script>
		<script src="__PUBLIC__static/check/plugins/tinymce/jquery.tinymce.min.js"></script>
		<!-- All functions for this theme + document.ready processing -->
		<script src="__PUBLIC__static/check/js/app.js"></script>
		<script type="text/javascript">
	$(function(){
		$(".preloader").hide();
	})
</script>
	</head>
<body>
<div id="screensaver">
	<canvas id="canvas"></canvas>
	<i class="fa fa-lock" id="screen_unlock"></i>
</div>
<!--Start Header-->
<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="index.html">平台数据校验工具集</a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-8 col-sm-4">
						<a href="#" id="locked-screen">
						  <i class="fa fa-lock"></i>
						</a>
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
						<ul class="nav navbar-nav pull-right panel-menu">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<div class="avatar">
										<img src="__PUBLIC__static/check/img/avatar.jpg" class="img-rounded" alt="avatar" />
									</div>
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">您好，</span>
										<span>管理员：{$user_name}</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">
											<i class="fa fa-cog"></i>
											<span class="hidden-sm text">修改密码</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-power-off"></i>
											<span class="hidden-sm text">退出登录</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="{:url('index/index')}">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">首页</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="{:url('DataCheck/index')}" >
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">数据准确性校验</span>
					</a>
				</li>
              <!--
				<li>
					<a href="#">
						<i class="fa fa-pencil-square-o"></i>
						<span class="hidden-xs">分班结果多次对比</span>
					</a>
				</li>
				<li>
					<a href="{:url('ResultCheck/index')}">
						<i class="fa fa-table"></i>
						<span class="hidden-xs">分班结果校验</span>
					</a>
				</li>-->
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
			<div class="preloader">
				<img src="__PUBLIC__static/check/img/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>
			</div>
			<div id="ajax-content">
			{block name="content"}{/block}
			</div>
		</div>
		<!--End Content-->
	</div>
</div>
<div id="modalbox">
	<div class="devoops-modal">
		<div class="devoops-modal-header">
			<div class="modal-header-name">
				<span>提示</span>
			</div>
			<div class="box-icons">
				<a class="close-link">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="devoops-modal-inner">
		</div>
		<div class="devoops-modal-bottom">
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$(".preloader").hide();
	})
</script>
</body>
</html>
