<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑教师</title>
    {load href="__ASSETS__/js/jquery-1.8.3.min.js"}
    {load href="__ASSETS__/layui/layui.js"}
    {load href="__ASSETS__/layui/css/layui.css"}
</head>
<body>
<section id="container">
    <section class="wrapper">
        <section class="wrapper" style="width: 90%;padding-top: 5%">
            <form class="layui-form" action="" lay-filter="teacheradd">
                <input type="hidden" name="id" value="{$res.id}"/>
                <input type="hidden" name="schid" value="{$Request.param.schid}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">教师姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="{$res.name}" lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                                class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">照片</label>
                    <div class="layui-input-block">
                        <input placeholder="" style="float:left;" name="thumb" type="file">
                        {if condition="$res['thumb'] neq ''"}
                        <img style="float:left;margin-left: 50px;"
                                src="__PIC__/{$res.thumb}" class="img-circle" width="50">
                        {/if}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="1" title="男" {$res.sex==1?='checked'}>
                        <input type="radio" name="sex" value="2" title="女" {$res.sex==2?='checked'}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">职务</label>
                    <div class="layui-input-block">
                        <select name="duty" lay-verify="required">
                            <option value="1" {$res.duty==1?='selected'}>班主任</option>
                            <option value="2" {$res.duty==2?='selected'}>科任</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学历</label>
                    <div class="layui-input-block">
                        <input type="text" name="xueli" value="{$res.xueli}" lay-verify="required" placeholder="请输入学历内容" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学科</label>
                    <div class="layui-input-block">
                        <input type="text" name="xueke" value="{$res.xueke}" lay-verify="required" placeholder="请输入学科内容" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">毕业院校</label>
                    <div class="layui-input-block">
                        <input type="text" name="school" value="{$res.school}" lay-verify="required" placeholder="请输入毕业院校" autocomplete="off"
                                class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-block">
                        <input type="text" name="age" value="{$res.age}" lay-verify="required|number" placeholder="请输入年龄" autocomplete="off"
                                class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">教龄</label>
                    <div class="layui-input-block">
                        <input type="text" name="teachage" value="{$res.teachage}" lay-verify="required|number" placeholder="请输入教龄" autocomplete="off"
                                class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">联系方式</label>
                    <div class="layui-input-block">
                        <input type="text" name="tel" value="{$res.tel}" lay-verify="required|phone" placeholder="请输入手机号码" autocomplete="off"
                                class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="height: 10px">
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo" add_url="{:url('teacher/edit')}">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <a class="layui-btn" href="#" onclick="javascript:history.back(-1);">返回列表页</a>
                    </div>
                </div>
            </form>
        </section>
    </section>
</section>

{load href="__ASSETS__/js/commonlayui.js"}
<script>layuu('teacheradd');</script>
</body>
</html>