<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="__ASSETS__/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="__ASSETS__/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="__ASSETS__/css/style.css" rel="stylesheet">
    <title>教师分组</title>
    <!--导入jquery插件-->
    <!--导入jqueryUI插件-->
    <script src="__ASSETS__/js/jquery-1.8.3.min.js"></script>
    <script src="__ASSETS__/js/jquery.leoweather.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/js/jquery-ui.js"></script>
    <script src="__ASSETS__/js/layer/2.4/layer.js"></script>
    <!--自写脚本-->
    <script type="text/javascript" language="javascript">
        var API_URL = "__APPURL__/teachergroup/subgroup";
        var API_DEL = "__APPURL__/teachergroup/delgroup";
        var API_DELSINGLE = "__APPURL__/teachergroup/delgroupsingle";
        var API_CHECKT = "__APPURL__/teachergroup/checkt";
        var gid = "{$gid}";
        //在页面加载完之后加载jquery
        $().ready(function (e) {
            //拖拽复制体
            $('div[id^="draggable"]').draggable({
                helper: "clone",
                cursor: "move"
            });

            //释放后
            $('div[id^="target"]').droppable({
                drop: function (event, ui) {
                    //目标id:topid
                    var topid = $(this).attr('id');
                    var source = ui.draggable.clone();
                    var footid = source[0].id;
                    //console.log(source);

                    if ($("#" + topid).children("#" + footid).length > 0) {
                        layer.alert("该教师已经存在");
                        return
                    } else {
                        var tgid = topid.replace('target', '');
                        var tid = footid.replace('draggable', '');
                        var isheader = 0;
                        sub(gid, tgid, tid, isheader);
                    }
                    $('<img/>', {
                        src: '__ASSETS__/img/err.png',
                        style: 'display:block;width:18px;float:right;margin-top: 6px;border:none;margin-right: 4px;',
                        click: function () {
                            source.remove();
                            del(gid, tgid, tid, isheader);
                        }
                    }).appendTo(source);

                    $('<input/>', {
                        type: 'radio',
                        id: tgid + '-' + tid,
                        style: 'float:right;margin-right: 4px;',
                        name: 'laos' + tgid,
                        click: function () {
                            var arr = this.id.split('-');
                            checkt(gid, tgid, arr[1]);
                        }
                    }).appendTo(source);

                    $(this).append(source);

                }
            });
        });

        /**
         * ajax传值给subgroup入库方法
         * @param gid 教师外组id
         * @param tgid 教师内组id
         * @param tid  教师id
         * @param isheader 是否为班主任1.是 2.不是
         */
        function sub(gid, tgid, tid, isheader) {
            $.post(
                API_URL,
                {"gid": gid, "tgid": tgid, "tid": tid, "isheader": isheader},
                function () {
                }, 'json'
            )
        }

        /**
         * 前端生成的删除方法
         * @param gid,tgid,tid,isheader
         */
        function del(gid, tgid, tid, isheader) {
            $.post(
                API_DEL,
                {"gid": gid, "tgid": tgid, "tid": tid, "isheader": isheader},
                function () {
                }, 'json'
            )
        }


        /**
         * 程序输出的img删除按钮
         * @param obj
         */
        function delt(obj) {
            var tmp = obj.id;
            $("#" + tmp).parent().remove();
            $.post(
                API_DELSINGLE,
                {"id": tmp,},
                function () {
                }, 'json'
            )
        }

        //检查班主任是否已经在别组内被设置
        function checkt(gid, tgid, tid) {
            $.post(
                API_CHECKT,
                {"gid": gid, "tgid": tgid, "tid": tid},
                function (e) {
                    if (e == 1) {
                        layer.alert('设置班主任成功！');
                        $('#' + tid).attr('checked', true);
                    } else if (e == 2) {
                        var newid = tgid + '-' + tid;
                        $('#' + newid).attr('checked', false);
                        layer.alert('该教师在其它组内为班主任');
                    } else {
                        var newid = tgid + '-' + tid;
                        var oldid = e.tgid + '-' + e.tid;
                        console.log(e);
                        console.log(newid + '-' + oldid);
                        $('#' + newid).attr('checked', false);
                        layer.alert('该教师在其它组内为班主任');
                        $('#' + oldid).prop("checked", "checked");
                    }

                }, 'json'
            )
        }

    </script>
    <!--自写脚本-->
</head>

<body>

<section id="container">
    {include file="public/header" /}
    {include file="public/left" /}
    <section id="main-content">
        <section class="wrapper">

            <a class="btn btn-default" onclick="javascript:history.back(-1);" style="margin-top: 20px;">保存设置</a>
            <div class="laos-weik">
                <!-- 教师分组开始 -->
                <div class="pull-right laos-right">
                    <h3>教师分组</h3>
                    <div class="laoshi-kuang">
                        <div class="teachergroup">
                            {volist name="list" id="vo"}
                            <div class="col-kuang">
                                <div class="laoshi-title">{$vo.bb|IntToChr}组</div>
                                <div class="teachergroupl" id="target{$vo.bb}">
                                    <!--{$vo.cc}-->
                                    {volist name="vo['cc']" id="vos"}
                                    <div class="clonec ui-draggable ui-draggable-handle" id="draggable{$vos.tid}"><img
                                            src="__PIC__/assets/img/1.jpg"><span>{$vos.tid|Gettname}</span><img
                                            src="__PIC__/assets/img/err.png" id="{$vos.id}"
                                            style="display:block;width:18px;float:right;margin-top: 6px;border:none;margin-right: 4px;"
                                            onclick="delt(this)"><input type="radio" id="{$vos.tgid}-{$vos.tid}"
                                                                        style="float:right;margin-right: 4px;"
                                                                        name="laos{$vos.tgid}" {if
                                                                        condition="$vos['isheader'] eq 1" }checked{/if}
                                        onclick="checkt('{$vos.gid}','{$vos.tgid}','{$vos.tid}')">
                                    </div>
                                    {/volist}
                                </div>
                            </div>
                            {/volist}

                        </div>
                    </div>
                </div>
                <!-- 教师分组结束 -->
                <!-- 备选教师 开始-->
                <div class="pull-left laos-left">
                    <h3>备选教师</h3>
                    <div class="laoshi-kuang col-md-12">
                        <div class="clone beixian-laos">
                            {volist name="tdata" id="vo"}
                            <div class="clonec" id="draggable{$vo.id}"><img
                                    src="__PIC__/{$vo.thumb}"><span>{$vo.name}</span></div>
                            {/volist}
                        </div>
                    </div>
                </div>
                <!-- 备选教师 结束-->
            </div>
        </section>
    </section>
</section>
{include file="public/footer" /}
</body>
</html>