<section>
    <div class="steps">

        <!-- 进度条步骤开始 -->

        <div class="stepbj" id="step">
            <ul class="buzifenz">
                <li><em>1</em></li>
                <li><em>2</em></li>
                <li><em>3</em></li>
            </ul>
        </div><!-- 背景 -->

        <div class="container">
            <div class="steps-list">

                <ul>
                    <li><a href="{:url('bigscr/cheader')}">
                        <div class="steps-list-div">
                            <img src="__BS__/images/icon_06.png">
                            <span>机选家长</span>
                        </div>
                    </a>
                    </li>

                    <li><a href="{:url('bigscr/sedheader')}">
                        <div class="steps-list-div">
                            <img src="__BS__/images/icon_09.png">
                            <span>选定家长</span>
                        </div>
                    </a></li>

                    <li><a href="{:url('bigscr/teacherfp')}">
                        <div class="steps-list-div">
                            <img src="__BS__/images/icon_03.png">
                            <span>教师分配</span>
                        </div>
                    </a></li>
                    <li><a href="resultinfo/?id=1">
                        <div class="steps-list-div">
                            <img src="__BS__/images/icon_12.png">
                            <span>结果公示</span>
                        </div>
                    </a></li>

                </ul>
            </div>
        </div>

        <!-- 进度条步骤结束 -->
    </div>

</section>