<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="">
  <script src="__MOB__/js/jquery-2.1.4.js"></script>
<link rel="stylesheet" type="text/css" href="__MOB__/manage/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__MOB__/manage/css/style.css">

</head>
<body>
	<div class="am-cf admin-main" style="padding-top: 0px;">
			<!-- content start -->
			<div class="admin-content">
				<div class="admin-content-body">

					<div class="container" style="padding: 0px 10px 0px 10px">
						<div class="am-g line-hei">
							<span>隐私学校</span>
							{if condition='$statuhide eq 0'}
								<button onclick="hide({$schid})" class="btn btn-success radius">开启</button>
							{/if}
							{if condition='$statuhide eq 1'}
								<button onclick="hide({$schid})" class="btn btn-danger radius">关闭</button>
							{/if}
							
						</div>

						<div class="am-g line-hei">
							<span>查询始停</span>
							{if condition='$statustart eq 0'}
								<button onclick="start({$schid})" class="btn btn-success radius">开启</button>
							{/if}
							{if condition='$statustart eq 1'}
								<button onclick="start({$schid})" class="btn btn-danger radius">关闭</button>
							{/if}
							
						</div>

						<div class="am-g line-hei">
							<span>开启系统维护页面</span>
							{if condition='$statuerro eq 0'}
								<button onclick="erro({$schid})" class="btn btn-success radius">开启</button>
							{/if}
							{if condition='$statuerro eq 1'}
								<button onclick="erro({$schid})" class="btn btn-danger radius">关闭</button>
							{/if}
							
							<input type="text"  id='errotext' placeholder="请输入提示语" class="huoqu-input">
							
						</div>
						
					</div>

				</div>
				<!-- content end -->
			</div>
		</div>
</body>
</html>

<script type="text/javascript">
//开启关闭隐藏功能
function hide(sid) 
{
	$.ajax({
	      type:"POST",
	      url:"{:url('hide')}",
	      dataType:"json",
	      data:{sid:sid},
	      success:function (msg)
	      {
	            if(msg==1)
	            {
	            	alert('操作成功');
	            	window.location.reload();
	            }else{
	            	alert('操作失败');
	            }
	      }
  })
}
//开启停止查询功能
function start(sid) 
{
	$.ajax({
	      type:"POST",
	      url:"{:url('start')}",
	      dataType:"json",
	      data:{sid:sid},
	      success:function (msg)
	      {
	            if(msg==1)
	            {
	            	alert('操作成功');
	            	window.location.reload();
	            }else{
	            	alert('操作失败');
	            }
	      }
  })
}
//开启停止报错页面
function erro(sid) 
{
	var errotext = $("#errotext").val();
	$.ajax({
	      type:"POST",
	      url:"{:url('erro')}",
	      dataType:"json",
	      data:{sid:sid,errotext:errotext},
	      success:function (msg)
	      {
	            if(msg==1)
	            {
	            	alert('操作成功');
	            	window.location.reload();
	            }else{
	            	alert('操作失败');
	            }
	      }
  })
}
</script>