<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$sname}</title>
	<link rel="stylesheet" href="__MOB__/css/bootstrap.css">
	<script src="__MOB__/js/jquery.min.js"></script>
	<script src="__MOB__/js/bootstrap.js"></script>
  <link rel="stylesheet" href="__MOB__/css/weui.css" type="text/css">
  <link rel="stylesheet" href="__MOB__/css/weui.min.css" type="text/css">
  <link rel="stylesheet" href="__MOB__/css/jquery-weui.min.css" type="text/css">
  <link rel="stylesheet" href="__MOB__/css/demos.css">
	<style type="text/css">
.nav-tabs>li { width: 50%;}
.weui-cell {  padding: 5px 15px;}
.weui-cells li a:hover{text-decoration: none;cursor: pointer;}
	</style>

</head>

<body>
  <header class='demos-header'>
      <h1 class="demos-title">{$sname}</h1>
  </header>
  <div class="tab-pane fade in active" id="home">
  {if condition="$schtype neq 3"}
     <div class="weui-cells">
      <ul>

      {volist name="zulist" id="vo"}
       <li style="border-bottom: 1px solid #e0e0e0">
        <a class="weui-cell weui-cell_access" href="{:url('sdetails',array('schid'=>$schid,'cno'=>$vo.cno,'fceng'=>'fceng'))}">
            <div class="weui-cell__bd qwerli">
                <h4>{$vo.fz}</h4>
                <span>男生数：{$vo.nan}</span>
                <span>女生数：{$vo.nv}</span>
                <span>总人数：{$vo.zong}</span>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
      </li>
      {/volist}
    </ul>
    </div>
  {/if}
  {if condition="$schtype eq 3"}
     <div class="weui-cells">
     <ul>
      {volist name="zulist" id="vo"}
      <li style="border-bottom: 1px solid #e0e0e0">
        <a class="weui-cell weui-cell_access" href="{:url('sdetails',array('schid'=>$schid,'cno'=>$vo.cno,'fceng'=>$vo.fceng))}">
            <div class="weui-cell__bd qwerli">
                <h4>{$vo.fz}</h4>
                <span>男生数：{$vo.nan}</span>
                <span>女生数：{$vo.nv}</span>
                <span>总人数：{$vo.zong}</span>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
      </li>
      {/volist}
    </ul>
    </div>
  {/if}
  </div>
   <div class="kong"></div>
 <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__links">
          <a href="#" class="weui-footer__link"><img src="http://nfb.xianzhiedu.com.cn/public/groupphoto/icon_footer_link.png" style="width: 100px;"></a>
        </p>
    </div>
</body>
</html>
<script type="text/javascript">
  document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    WeixinJSBridge.call('hideToolbar');
    WeixinJSBridge.call('hideOptionMenu'); 
  });
</script>