<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Dashboard">
	<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="__ASSETS__/css/bootstrap.css" rel="stylesheet">
	<!--external css-->
	<link href="__ASSETS__/font-awesome/css/font-awesome.css" rel="stylesheet"/>
	<!-- Custom styles for this template -->
	<link href="__ASSETS__/css/style.css" rel="stylesheet">
	<title>新增教师</title>
	<script src="__ASSETS__/js/jquery-1.8.3.min.js"></script>
	<script src="__ASSETS__/js/jquery.leoweather.min.js"></script>
	<script src="__ASSETS__/js/clipboard.min.js"></script>
	<script src="__ASSETS__/js/layer/2.4/layer.js"></script>
	<link rel="stylesheet" type="text/css" href="__ASSETS__/css/fakeloader.css">
</head>

<body>
<div class="col-md-12" class="daoru-btn" id="backvalue">
	<form action="" method="post" id="form1" enctype="multipart/form-data">
		<input type="hidden" value="{$Request.param.schid}" name="schid">
		<label>
			{switch $Request.param.schtype}
			{case 1}<a href="__PIC__/groupphoto/mobanx.xls" class="btn btn-default">标准学生数据模板下载(小学)</a>{/case}
			{case 2}
			<a href="__PIC__/groupphoto/mobanc{$Request.session.school_id!=0?=1}.xls" class="btn btn-default">标准学生数据模板下载(中学)</a>
			{/case}
			{case 3}<a href="__PIC__/groupphoto/mobang.xls" class="btn btn-default">标准学生数据模板下载(高中)</a>{/case}
			{/switch}

		</label>
		<!--<br>学生数据导入已关闭！-->
		<!-- 文件上传开始 -->
		<div class="control-group" style="border: 1px solid #ccc; width: 90px; padding: 7px 7px;border-radius: 4px; overflow: hidden; margin-top: 8px; cursor:pointer;">
			<div class="btn_addPic" style="float: left;"><i class="fa fa-plus">&nbsp;&nbsp;选择文件</i>
				<input class="filePrew" type="file" name="file" id="myfile" style="width: 90px;padding: 20px; margin-left: 14px;cursor: pointer;"></div>
		</div>

		<span id="Excelname" style="cursor: pointer;"></span>
		<!-- 文件上传结束 -->
	</form>
	<br>
	<input type="button" add_form="form1" add_url="{:url('excelstudents/index')}" class="btn btn-primary shangc-btn"
			value="提交" onclick="sub(this)">
</div>

<!-- loading -->
<div class="fakeloader" style="width: 70px;margin: 0 auto;padding-left:45%;"></div>
<script src="__ASSETS__/js/common.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var clipboard = new Clipboard('.btn');
        clipboard.on('success', function(e) {
            console.log(e);
            layer.msg("出错信息复制成功！")
        });
        clipboard.on('error', function(e) {
            console.log(e);
            layer.msg("出错信息复制失败！请按F12查看出错信息！")
        });
    })




    // 获取一个上传文件的扩展名  file
    var myfile = document.getElementById('myfile');
    myfile.onchange = function () {
        //获取文件上传文件的文件名和扩展名
        if (myfile.files[0] == undefined) {
            alert('未上传文件！');
        } else {
            //获取上传文件的文件名
            var name = myfile.files[0].name;
            $("#Excelname").html(name);
            document.getElementById('Excelname').className += 'excname';
        }
    }

</script>
</body>
</html>

