<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>区推送密码设置界面</title>
	{load href="__ASSETS__/js/jquery-1.8.3.min.js"}
	{load href="__ASSETS__/layui/layui.js"}
	{load href="__ASSETS__/layui/css/layui.css"}
</head>
<body>
<form class="layui-form" action="" lay-filter="bandsbt">
	<div class="layui-form-item" style="height: 10px">
		<label class="layui-form-label"></label>
		<input type="hidden" name="id" value="{$Request.param.id}">
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">推送密码：</label>
		<div class="layui-input-inline">
			<input type="text" name="pwd" required lay-verify="required" placeholder="请输入推送密码" autocomplete="off" class="layui-input">
		</div>
	</div>
	
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="formDemo" value="{:url('test/setpwd')}">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>

{load href="__ASSETS__/js/commonlayui.js"}
<script>layuu('bandsbt');</script>
</body>
</html>